body {
  background-color: black;
  color: white;
}

.way {
	border-bottom: 1px dashed red;
	margin: 4px 8px;
	display: flex;
	position: relative;
}

.carContainer {
	width: 36px;
	height: 36px;
}

.carActionButton {
	text-shadow: 1px 1px pink, -1px -1px maroon;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
	padding-left: 5px;
}

.button{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 4px 6px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
	letter-spacing: 2px;
	color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.carActionButton:active, .button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.button-blue {
	background-color: blue;
}
.button-green {
	background-color: green;
}
.button-red {
	background-color: red;
}

.button:disabled,
.carActionButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.button:disabled {
	background-color: #666;
	color: #999;
	text-shadow: none;
	box-shadow: none;
}

.carActionButton:disabled {
	background-color: #666;
	background-image: none;
	color: #999;
	text-shadow: none;
	box-shadow: none;
}


.flag {
	position: absolute;
	top: 0;
	right: 36px;
	z-index: 10;
}

.flag > img {
	width: 36px;
	height: 36px;
}